var mongoose = require('mongoose'), extend = require('mongoose-schema-extend');
var Schema = mongoose.Schema;

{{{REFERENCE}}}

{{{TYPES}}}

function {{{NAME}}}() {
    return new {{{EXTEND}}}().extend(

        {{{SCHEME}}}

    );
}


module.exports = {{{NAME}}};