

describe('GET {{{path}}} --{{{role}}}', function(){
    it('respond with json', function(done){

        function isValidJsonGet(res) {
            var json = {{{JSON}}};

            var testedPart = res.body.item;

            for(var key in json){
                if (!(key in testedPart)) return "missing "+key+" key" + JSON.stringify(res.body);

                if(json[key] instanceof Array) {
                    var array = json[key];
                    if(array.length != testedPart[key].length)  return "wrong value for key " + key + "\n" + json[key] + "\n" + testedPart[key]
                        + "\n" + JSON.stringify(res.body, 2, null)
                        + "\n" + JSON.stringify(json, 2, null);
                    for (index = 0; index < array.length; ++index) {
                        var value = array[index];
                        if(testedPart[key][index] !== value) return "wrong value for key " + key + "\n" + json[key] + "\n" + testedPart[key]
                            + "\n" + JSON.stringify(res.body, 2, null)
                            + "\n" + JSON.stringify(json, 2, null);
                    }
                } else {
                    if(json[key]!==testedPart[key]) return "wrong value for key " + key + "\n" + json[key] + "\n" + testedPart[key]
                        + "\n" + JSON.stringify(res.body, 2, null)
                        + "\n" + JSON.stringify(json, 2, null);
                }


            }
        };

        request(app)
            .get('{{{path}}}')
            .set('Accept', 'application/*')
            .set('DEV-ROLE', '{{{role}}}')
            .expect('Content-Type', /json/)
            .send()
            .expect(200)
            .expect(isValidJsonGet)
            .end(function(err, res){
                if (err) return done(err);
                done()
            });
        })
})