exports.send = function(req, res, ressource) {
    var json = {
                       "title": "api",
                       "links":  {{{links}}}
                       ,
                       "mimetype": {
                           "json": {
                               "name": "json",
                               "is_default": true,
                               "response": ""
                           }
                       }
               };
    res.json(json);
};

