{
    "title": "api",
    "links":  {{{links}}},
    "services":  {{{servicelinks}}},
    "mimetype": {
        "json": {
            "name": "json",
            "is_default": true,
            "response": ""
        }
    }
}

