{
        "title": "api",
        "links":  {{{links}}}
        ,
        "mimetype": {
            "json": {
                "name": "json",
                "is_default": true,
                "response": ""
            }
        }
}
