var request = require('supertest')
    , app     = require('../app.js')
    , assert  = require("assert");

describe('{{{METHOD}}} /contacts', function(){
    it('respond with json', function(done){
        request(app)
            .{{{method}}}('{{{path}}}')
            .set('Accept', 'application/json')
            .expect('Content-Type', /json/)
            .expect(200)
            .end(function(err, res){
                if (err) return done(err);
                done()
            });
    })
})